body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    min-height: 810px;
    margin: 20px;
}
/*@media only screen and (max-width: 320px) {
    .navi {
        display: none;
    }
}*/
@media only screen and (max-width: 800px) {
    header {
        max-width: 600px;
    } 
}
@media (min-width:320px)
    { h1 {font-size: 36px;}
    p {font-size: 12px;}
}
header {
    max-width: 864px;
    width: 100%;
    min-height: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h5 {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    align-self: flex-start;
    
}
.nav-links {
    transition: 0.3s ease;
}
.nav-links:hover {
    color: gray;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 5px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media (max-width: 700px) {
    .hamburger{
        display: block;  
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .nav-links{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-link {
        margin: 16px 0 ;
    }

    .nav-links.active{
        left: 0;
        
    }

}
li {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 20px;
    display: inline;
    list-style: none;
} 
a {
    text-decoration: none;
    color: white;
}
.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 102px;
    letter-spacing: -2px;
    color: #FFFFFF;
    max-width: 265px;
    width: 100%;
    min-height: 102px;

}
p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    max-width: 573px;
    width: 100%;
    min-height: 68px;
    margin: 20px;
}
img {
    max-width: 864px;
    width: 100%;
    margin: 20px;
    align-self: center;
}